{% extends 'main/base.html' %}
{% load service_extras %}
{% block title %}
    User Profile
{% endblock %}

{% block content %}
    {% if user.is_customer %}
        <div style="display: flex; justify-content: space-between;">
            <h1>{{ user.username }}</h1>
            <p>{{ user.email }}</p>
            {% if birth_date %}
                <p>Born: {{ birth_date }}</p>
            {% endif %}
            <p style="float: right;">Customer</p>
        </div>
        
        <p class="title">Your Service Requests</p>
        {% if service_requests %}
            <ul class="service-requests-list">
                {% for req in service_requests %}
                    <div class="service-request" style="display: ruby;">
                        <p><a href="/services/{{req.service.id}}">{{req.service.name}}</a> ({{req.service.field}}),</p>
                        <p><strong>Address:</strong> {{req.address}},</p>
                        <p><strong>Hours:</strong> {{req.hours|floatformat:1}},</p>
                        <p><strong>Total Cost:</strong> {{req.hours|multiply:req.service.price_hour}}€,</p>
                        <p><strong>Requested on:</strong> {{req.requested_at|date:"F j, Y"}},</p>
                        <p class="provider">by <a href="/company/{{req.service.company.user}}">{{req.service.company.user}}</a></p>
                    </div>
                    <div class="line"></div>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't requested any services yet.</p>
        {% endif %}
    {% else %}
        <div style="display: flex; justify-content: space-between;">
            <h1>{{ user.username }}</h1>
            <p> {{ user.email }}</p>
            <p style="float: right;">{{user.company.field}} Company</p>
        </div>
        
        <p class="title">Available Services</p>
        {% if services %}
            {% for service in services %}
            <div class="list_services_profile">
                <a href="/services/{{service.id}}">{{service.name}}</a>-- {{service.price_hour}}€/hour
                <div class="line"></div>
            </div>
            {% endfor %}
        {% else %}
            <p>No services available yet.</p>
        {% endif %}
    {% endif %}
{% endblock %}